body {
  font-size: 16px;
  margin: auto;
  width: 85%;
  max-width: 1000px;
}

nav {
  height: 100px;
  background-color: #aae6d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
}

nav img {
  margin-top: 60px;
  height: 135%;
  border-radius: 100%;
}

#content {
  display: flex;
  justify-content: center;
}

.smallScreen {
  display: none;
}

a {
  text-decoration: none;
}

#left {
  width: 30%;
}

#right {
  border-left: solid gray 2px;
  width: 60%;
}

#contact,
#skills,
#profile {
  border-bottom: solid gray 2px;
}

#right .section {
  padding-left: 20px;
}
#left .section {
  padding-left: 10px;
}

footer {
  display: none;
}

@media screen and (max-width: 830px) {
  body {
    width: 100%;
  }

  #left {
    /* width: 40%; */
    flex-shrink: 2;
  }

  #right {
    /* width: 60%; */
    flex-shrink: 1;
  }
}

@media screen and (max-width: 720px) {
  #left {
    width: 45%;
  }
  #right {
    width: 55%;
  }
}

@media screen and (max-width: 490px) {
  nav {
    height: 40px;
    margin-bottom: 20px;
  }

  #dropdown {
    display: block;
    height: 25px;
    width: 25px;
    overflow: hidden;
    background-image: url(./images/menuIcon.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-image-

  }

  #dropdown li {
    list-style-type: none;
  }

  nav img {
    display: none;
  }

  h1 {
    font-size: 25px;
  }

  #visitCounter {
    display: none;
  }

  #profilePhoto {
    display: block;
    height: 150px;
    border-radius: 15px;
  }

  #content {
    flex-direction: column-reverse;
    align-items: center;
  }
  #right {
    width: 95%;
    border-left: none;
    border-bottom: solid gray 5px;
    margin-bottom: 20px;
  }
  #left {
    width: 95%;
  }

  #contact {
    display: none;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    height: 75px;
    background-color: #aae6d9;
    font-size: 14px;
  }

  footer address {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  footer a {
    color: black;
  }
}
