body {
  font-size: 16px;
  margin: auto;
  width: 85%;
  max-width: 1000px;
}

nav {
  height: 100px;
  background-color: #aae6d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;
}

nav img {
  margin-top: 60px;
  height: 135%;
  border-radius: 100%;
}

#content {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

#left {
  width: 30%;
}

#right {
  border-left: solid gray 2px;
  width: 60%;
}

#contact,
#skills,
#profile {
  border-bottom: solid gray 2px;
}

#right .section {
  padding-left: 20px;
}
#left .section {
  padding-left: 10px;
}

@media screen and (max-width: 830px) {
  body {
    width: 100%;
  }

  #left {
    /* width: 40%; */
    flex-shrink: 2;
  }

  #right {
    /* width: 60%; */
    flex-shrink: 1;
  }
}

@media screen and (max-width: 720px) {
  #left {
    width: 45%;
  }
  #right {
    width: 55%;
  }
}

@media screen and (max-width: 490px) {
  
  h1 {
    font-size: 30px;
  }
  
  #visitCounter {
    display: none;
  }

  #content {
    flex-direction: column-reverse;
    align-items: center;
  }
  #left {
    width: 95%;
  }
  #right {
    width: 95%;
    border-left: none;
    border-bottom: solid gray 2px;
  }
}
